%h1 Create a New Path
%div
  - form_for :path, @path, :url => paths_path, :html => {:class => "nifty_form"} do |f|
    = f.error_messages
    %fieldset
      %legend Enter Path Details
      %div
        = f.label :name
        = f.text_field :name, :size => 40
      %div
        = f.label :description
        = f.text_field :description, :size => 40
      %div
        = f.submit "Create"