%h1 New User
- form_for :user, @user, :url => { :action => 'create' } do |f|
  = label_tag :email
  = f.text_field :name
  %br
  = label_tag :password
  = f.password_field :password
  %br
  = label_tag :confirm_password
  = f.password_field :password_confirmation
  %br
  = submit_tag "Create"
  