%html
  %head
    %title PhotoROUTE
    = stylesheet_link_tag 'application'
  %body
    #header
      .page
        .grid_3
          %p#brand= link_to "PhotoROUTE", '/welcome'
        .grid_9
          %span= "Welcome: #{User.find(session[:user_id]).name} | " if session[:user_id]
          %span= link_to("Logout", logout_path) + " | " if session[:user_id]
          %span FAQ 
    #content
      #content-primary
        #main
          - if flash.count > 0
            #messages
              - for name in [:notice, :warning, :message, :error, :alert] 
                - if flash[name]
                  %div{'class' => 'message #{name}'}= flash[name]          
          = yield :layout